# Database
DB_PASSWD=CHANGE_ME_STRONG_PASSWORD
DB_NAME=prestashop

# Domain (must match your subdomain)
PS_DOMAIN=prestashop-clink.is-a.dev

# Admin credentials
ADMIN_MAIL=admin@atomicmail.io
ADMIN_PASSWD=Pr3st4Sh0P

# Country/Language
PS_COUNTRY=fr
PS_LANGUAGE=en

# Production settings
PS_DEV_MODE=0
PS_INSTALL_AUTO=1
PS_ERASE_DB=0
PS_ENABLE_SSL=0
DB_PREFIX=ps_
